/*footer css*/
/*for medium and small screens*/
@media screen and (max-width: 990px){
    #ftr{
        display: flex;
       justify-items:center;
       color: red;
       align-items: center;
    }
    #ftrmen,#ftrwomen,#ftrkids,#ftrlinks{ /*making all the items in footer flex to arrange*/
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and(min-width:990px) {
    h5{
        padding-left: 1rem;
    }
}
/*for medium and small screens end*/
#ftr{
    margin-top: auto;
    color: white;
    background-color: #343a40;
    align-items: center;
    justify-content: center;
}

#ftr .nav-link{
    color: white;
}
.afterdiv{
    text-align: center;
}
#ftrdivider{
    height: 2px;
    background-color: black;
}
