/*ADJUSTING TABLE */

.customtable{
    width: 100%;
    max-height: 500px;
    border: 1px solid black;
    overflow-y: auto;
}

.customtable tr ,th , td{
    border: 1px solid black;
    text-align: center;
    text-overflow: ellipsis;
}

.edit{
    cursor: pointer;
}

.edit:hover {
    font-size: medium;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }